@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600&family=Lora:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
html {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.5rem;
  padding: 0 3%;
  border-top: 10px solid #0FBFB5;
  width: 100%;
}
.navbar .company-logo {
  width: 9.5rem;
}
.navbar ul {
  list-style: none;
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.navbar ul li {
  display: flex;
}
.navbar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #010B15;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
  text-transform: capitalize;
}
.navbar ul li a img {
  width: 1.3rem;
  height: 1.3rem;
}
.navbar ul li button {
  display: flex;
  padding: 1rem 2.4rem;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background: #00BF91;
  color: #FFF;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  cursor: pointer;
}
.navbar ul li button:hover {
  background-color: #078D6D;
}
.navbar .bars-menu {
  width: 3rem;
  display: none;
}

.herosection {
  background: linear-gradient(180deg, #072133 0%, #051723 100%);
  height: 35vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.herosection__backgroundcircles {
  position: relative;
}
.herosection__backgroundcircles .outer-circle {
  position: absolute;
  width: 35%;
  height: auto;
  top: 5rem;
  left: 32.5%;
}
.herosection__backgroundcircles .middle-circle {
  position: absolute;
  width: 30%;
  height: auto;
  top: 10rem;
  left: 35%;
}
.herosection__backgroundcircles .inner-circle {
  position: absolute;
  width: 25%;
  height: auto;
  top: 15rem;
  left: 37.5%;
}
.herosection__backgroundcircles .radical-gradient {
  position: absolute;
  width: 44%;
  height: auto;
  top: 10rem;
  left: 28%;
}
.herosection__content {
  position: relative;
  padding-top: 11vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.herosection__content .heading {
  color: var(--new-palette-neutral-white, #FFF);
  text-align: center;
  font-family: Lora;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 78.4px */
}
.herosection__content .content {
  color: var(--new-palette-neutral-white, #FFF);
  text-align: center;
  font-family: DM Sans;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  width: 50%;
  margin: auto;
  margin-top: 3rem;
}

.cardsection {
  background: #EDEDE8;
  padding: 4%;
  display: flex;
  flex-direction: column;
}
.cardsection .tab-group {
  display: flex;
  justify-content: space-between;
  padding: 0.5vw;
  border: 1px solid rgba(37, 67, 83, 0.4);
  border-radius: 1rem;
  width: 45vw;
}
.cardsection .tab-group .tab {
  display: flex;
  padding: 1vw 1.4vw;
  justify-content: center;
  align-items: center;
  gap: 0.8vw;
  border-radius: 8px;
  color: #717375;
  text-align: center;
  font-family: DM Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
}
.cardsection .tab-group .active {
  background: #268297;
  color: #FFF;
}
.cardsection .card-contianer {
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  padding: 5rem 0;
  justify-content: space-between;
}
.cardsection .card-contianer .card {
  height: 21vw;
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  box-shadow: 4px 4px 20px 0px rgba(166, 166, 166, 0.16);
  border-radius: 1rem;
  background-color: #fff;
}
.cardsection .card-contianer .card .image {
  height: 13vw;
  width: 100%;
}
.cardsection .card-contianer .card .image img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.cardsection .card-contianer .card .card-heading {
  padding: 0 1vw;
  color: #0A1015;
  font-family: DM Sans;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
}
.cardsection .card-contianer .card .card-data {
  padding: 0 1vw;
  color: #292828;
  font-family: DM Sans;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}

.testimonials {
  background: #F8F8F8;
  position: relative;
}
.testimonials__background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.testimonials__background .outer-circle {
  position: absolute;
  bottom: -5rem;
  left: 27%;
  width: 50vw;
  height: 50vw;
  border: 1px solid #ddd;
  border-radius: 25vw;
}
.testimonials__background .inner-circle {
  position: absolute;
  bottom: -5rem;
  left: 32%;
  width: 40vw;
  height: 40vw;
  border-radius: 20vw;
  border: 1px solid #ddd;
}
.testimonials__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.testimonials__content__heading {
  color: rgba(14, 125, 150, 0.92);
  font-family: Centra No1;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 1.8px;
  margin: auto;
  margin-top: 8.7rem;
  margin-bottom: 2rem;
}
.testimonials__content__content {
  color: #071B2E;
  font-family: Lora;
  font-size: 49px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 123%; /* 60.27px */
  margin: auto;
  width: 40%;
  margin-bottom: 3.8rem;
}
.testimonials__content__sub-content {
  color: #283A4D;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  margin: auto;
  width: 40%;
  text-align: center;
  z-index: 1;
}
.testimonials__content__reviews {
  display: flex;
  gap: 5rem;
  margin-top: 11rem;
  overflow-x: auto;
}
.testimonials__content__reviews__card {
  display: flex;
  height: 22.4rem;
  min-width: 35rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 1rem;
  background: #FFF;
  box-shadow: 0px 24px 34px 0px rgba(126, 116, 116, 0.12);
  padding: 3rem 3rem;
  z-index: 1;
}
.testimonials__content__reviews__card .card-content {
  color: #071B2E;
  font-family: DM Sans;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.testimonials__content__reviews__card .card-profile {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.testimonials__content__reviews__card .card-profile img {
  width: 4.5rem;
  height: 4.5rem;
  flex-shrink: 0;
}
.testimonials__content__reviews__card .card-profile .profile-data .profile-name {
  color: #010101;
  font-family: DM Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 22.5px */
}
.testimonials__content__reviews__card .card-profile .profile-data .profile-designation {
  color: rgba(69, 82, 85, 0.98);
  font-family: DM Sans;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
}
.testimonials__content__reviews .card-even {
  margin-top: 4rem;
}
.testimonials__content__reviewsnavigation {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  margin-top: 8.7rem;
  margin-bottom: 6.7rem;
}

.footer {
  background: #16242E;
  padding: 10rem 0;
  position: relative;
}
.footer .newsletter {
  margin: auto;
  position: relative;
  display: flex;
  width: 75%;
  padding: 4%;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 3.2rem;
  background: #213543;
}
.footer .newsletter__content {
  position: relative;
  width: 100%;
}
.footer .newsletter__content .content {
  color: #FFF;
  font-family: DM Sans;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 44.8px */
}
.footer .newsletter__content .sub-content {
  color: #FFF;
  font-family: DM Sans;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  margin-top: 1rem;
}
.footer .newsletter__content .registerbtn {
  padding: 1.4rem 2.4rem;
  margin-top: 5.5rem;
  border: none;
  border-radius: 4px;
  background: #2CAC9D;
  color: var(--old-palette-neutral-white, #FFF);
  font-family: DM Sans;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}
.footer .newsletter__content .registerbtn:hover {
  background-color: #078D6D;
}
.footer .newsletter__images {
  width: 100%;
}
.footer .newsletter__images .salesfunnel-img {
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 3.2rem;
  width: 45%;
}
.footer .newsletter__images .newsletter-revenue {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25%;
}
.footer .terms-conditions {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  border-top: 1px solid rgba(69, 82, 85, 0.98);
  padding-top: 5rem;
}
.footer .terms-conditions .policies {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: auto;
}
.footer .terms-conditions .policies h2 a {
  text-decoration: none;
  color: #FFF;
  font-family: DM Sans;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .terms-conditions .copyrightmark {
  color: #FFF;
  font-family: Roboto;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  width: 20%;
  margin: 3rem auto;
}
.footer .footer-pruuv-logo {
  position: absolute;
  bottom: 9rem;
  width: 8rem;
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  .herosection {
    height: 35vw;
  }
  .herosection__content {
    padding-top: 10vw;
  }
  .herosection__content .heading {
    font-size: 5rem;
  }
  .herosection__content .content {
    font-size: 2rem;
  }
  .cardsection .tab-group {
    width: 50vw;
  }
  .cardsection .card-contianer .card .card-heading {
    padding: 0 0.5vw;
    font-size: 1.4rem;
  }
  .cardsection .card-contianer .card .card-data {
    padding: 0 0.5vw;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 750px) {
  .navbar ul {
    display: none;
  }
  .navbar .bars-menu {
    display: block;
  }
  .herosection {
    height: 35vw;
  }
  .herosection__content {
    padding-top: 10vw;
  }
  .herosection__content .heading {
    font-size: 4rem;
  }
  .herosection__content .content {
    font-size: 1.6rem;
  }
  .cardsection .tab-group {
    width: 50vw;
  }
  .cardsection .tab-group .tab {
    font-size: 1.5rem;
  }
  .cardsection .card-contianer .card {
    width: 28vw;
    height: 23vw;
  }
  .cardsection .card-contianer .card .card-heading {
    padding: 0 0.5vw;
    font-size: 1.4rem;
  }
  .cardsection .card-contianer .card .card-data {
    padding: 0 0.5vw;
    font-size: 1.2rem;
  }
  .testimonials__content__content {
    font-size: 4.5rem;
    width: 70%;
  }
  .testimonials__content__sub-content {
    width: 70%;
  }
  .footer .newsletter__content .content {
    font-size: 2.2rem;
  }
  .footer .newsletter__content .sub-content {
    font-size: 1.6rem;
  }
  .footer .terms-conditions .policies {
    width: 70%;
  }
}
@media only screen and (max-width: 750px) and (min-width: 600px) {
  .navbar {
    height: 6rem;
    border-top: 5px solid #0FBFB5;
  }
  .navbar .company-logo {
    height: 3rem;
    width: 8rem;
  }
  .navbar ul {
    display: none;
  }
  .navbar .bars-menu {
    display: block;
    width: 2rem;
  }
  .herosection {
    height: 35vw;
  }
  .herosection__content {
    padding-top: 8vw;
  }
  .herosection__content .heading {
    font-size: 3rem;
  }
  .herosection__content .content {
    font-size: 1.4rem;
    width: 60%;
  }
  .cardsection {
    padding: 6%;
  }
  .cardsection .tab-group {
    width: 60vw;
  }
  .cardsection .tab-group .tab {
    font-size: 1.5rem;
  }
  .cardsection .card-contianer .card {
    width: 40vw;
    height: 33vw;
  }
  .cardsection .card-contianer .card .image {
    height: 20vw;
  }
  .cardsection .card-contianer .card .card-heading {
    padding: 0 0.5vw;
    font-size: 1.4rem;
  }
  .cardsection .card-contianer .card .card-data {
    padding: 0 0.5vw;
    font-size: 1.2rem;
  }
  .testimonials__content__content {
    font-size: 4rem;
    width: 70%;
  }
  .testimonials__content__sub-content {
    width: 70%;
    font-size: 1.5rem;
  }
  .footer .newsletter {
    width: 90%;
  }
  .footer .newsletter__content {
    width: 130%;
  }
  .footer .newsletter__content .content {
    font-size: 2rem;
  }
  .footer .newsletter__content .sub-content {
    font-size: 1.4rem;
  }
  .footer .terms-conditions .policies {
    width: 80%;
  }
  .footer .terms-conditions .copyrightmark {
    width: 30%;
  }
}
@media only screen and (max-width: 600px) and (min-width: 500px) {
  .navbar {
    height: 6rem;
    border-top: 5px solid #0FBFB5;
  }
  .navbar .company-logo {
    height: 3rem;
    width: 8rem;
  }
  .navbar ul {
    display: none;
  }
  .navbar .bars-menu {
    display: block;
    width: 2rem;
  }
  .herosection {
    height: 40vw;
  }
  .herosection__content {
    padding-top: 6vw;
  }
  .herosection__content .heading {
    font-size: 2.4rem;
  }
  .herosection__content .content {
    font-size: 1.4rem;
    width: 70%;
  }
  .cardsection {
    padding: 6%;
  }
  .cardsection .tab-group {
    width: 70vw;
  }
  .cardsection .tab-group .tab {
    font-size: 1.4rem;
  }
  .cardsection .card-contianer .card {
    width: 40vw;
    height: 35vw;
  }
  .cardsection .card-contianer .card .image {
    height: 20vw;
  }
  .cardsection .card-contianer .card .card-heading {
    padding: 0 0.5vw;
    font-size: 1.4rem;
  }
  .cardsection .card-contianer .card .card-data {
    padding: 0 0.5vw;
    font-size: 1.2rem;
  }
  .testimonials__content__content {
    font-size: 3.4rem;
    width: 80%;
  }
  .testimonials__content__sub-content {
    width: 80%;
    font-size: 1.4rem;
  }
  .footer .newsletter {
    width: 90%;
  }
  .footer .newsletter__content {
    width: 130%;
  }
  .footer .newsletter__content .content {
    font-size: 2rem;
  }
  .footer .newsletter__content .sub-content {
    font-size: 1.4rem;
  }
  .footer .terms-conditions .policies {
    width: 90%;
  }
  .footer .terms-conditions .copyrightmark {
    width: 30%;
  }
}
@media only screen and (max-width: 500px) and (min-width: 320px) {
  .navbar {
    height: 6rem;
    padding: 0 3rem;
    border-top: 5px solid #0FBFB5;
  }
  .navbar .company-logo {
    height: 3rem;
    width: 8rem;
  }
  .navbar ul {
    display: none;
  }
  .navbar .bars-menu {
    display: block;
    width: 2rem;
  }
  .herosection {
    height: 50vw;
  }
  .herosection__content {
    padding-top: 6vw;
  }
  .herosection__content .heading {
    font-size: 2.4rem;
  }
  .herosection__content .content {
    font-size: 1.2rem;
    width: 70%;
    margin-top: 2rem;
  }
  .cardsection {
    padding: 6%;
  }
  .cardsection .tab-group {
    width: 90vw;
  }
  .cardsection .tab-group .tab {
    font-size: 1.4rem;
  }
  .cardsection .card-contianer {
    justify-content: center;
  }
  .cardsection .card-contianer .card {
    width: 70vw;
    height: 50vw;
  }
  .cardsection .card-contianer .card .image {
    height: 30vw;
  }
  .cardsection .card-contianer .card .card-heading {
    padding: 0 1.5vw;
    font-size: 1.4rem;
  }
  .cardsection .card-contianer .card .card-data {
    padding: 0 1.5vw;
    font-size: 1.2rem;
  }
  .testimonials__content__heading {
    font-size: 1.6rem;
  }
  .testimonials__content__content {
    font-size: 2.4rem;
    width: 80%;
  }
  .testimonials__content__sub-content {
    width: 90%;
    font-size: 1.3rem;
  }
  .footer .newsletter {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .footer .newsletter__content {
    width: 100%;
  }
  .footer .newsletter__content .content {
    font-size: 1.8rem;
  }
  .footer .newsletter__content .sub-content {
    font-size: 1.3rem;
  }
  .footer .newsletter__content .registerbtn {
    padding: 1rem 2rem;
    margin-top: 3rem;
    border: none;
    border-radius: 0.3rem;
    background: #2CAC9D;
    color: var(--old-palette-neutral-white, #FFF);
    font-family: DM Sans;
    font-size: 1.4rem;
    font-weight: 700;
  }
  .footer .footer-nav {
    width: 80%;
    gap: 2rem;
  }
  .footer .footer-nav .col h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .footer .footer-nav .col h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .footer .footer-nav .data-insights-group {
    order: 1;
  }
  .footer .footer-nav .product-group {
    order: 3;
  }
  .footer .footer-nav .use-cases-group {
    order: 2;
  }
  .footer .footer-nav .resources-group {
    order: 4;
  }
  .footer .footer-nav .social-links {
    order: 5;
  }
  .footer .terms-conditions .policies {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    width: 90%;
  }
  .footer .terms-conditions .policies h2 a {
    text-decoration: none;
    color: #FFF;
    font-family: DM Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer .terms-conditions .copyrightmark {
    width: 40%;
  }
  .footer .footer-pruuv-logo {
    position: absolute;
    bottom: 4rem;
    width: 5rem;
  }
}/*# sourceMappingURL=customerstories.css.map */